.addon-box {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  padding: 2rem 1.2rem;
}

.addon-box h1 {
  font-size: 1.3rem;
  color: var(--marine-blue);
}

.addon-box p {
    color: var(--cool-gray);
}
