.hidden {
  display: none;
}

.container {
  background-color: #fff;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
}

.go-back-btn {
  background: transparent;
  border: none;
  font-weight: 500;
  color: var(--cool-gray);
  width: auto;
}

.go-back-btn:hover {
  color: var(--purplish-blue);
}

.go-back-hidden {
  visibility: hidden;
}

.next-step-btn {
  background-color: var(--marine-blue);
  padding: 0.75rem;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.2rem;
}


.next-step-btn:hover {
  background-color: var(--purplish-blue);
}

.confirm-btn {
  background-color: var(--purplish-blue);
  padding: 0.75rem ;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.2rem;
}

.confirm-btn:hover {
  background-color: var(--marine-blue);
}

@media (min-width: 769px) {
  .go-back-btn,
  .next-step-btn,
  .confirm-btn {
    font-size: 1.2rem;
    padding: 1rem;
  }
}
