.finish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
}

.finish h1 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--marine-blue);
}

.finish > p {
  font-size: 1rem;
  color: var(--cool-gray);
}

.finish-items {
  margin-top: 0.75rem;
  background-color: var(--magnolia);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 0.9rem;
  width: 100%;
}

.finish-items span {
  color: var(--cool-gray);
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
}

a,
a:active {
  color: var(--cool-gray);
  text-decoration: underline 0.1rem solid var(--cool-gray);
}

a:hover {
  color: var(--purplish-blue);
  text-decoration: underline 0.1rem solid var(--purplish-blue);
}

.finish .error-msg {
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
  border-radius: 1rem;
  gap: 1rem;
 
}

.finish .error-msg span {
  width: 2rem;
}

.finish .error-msg p {
  font-size: 1.1rem;
  color: var(--marine-blue);
}

@media (min-width: 769px) {
  .finish h1 {
    font-size: 1.4rem;
  }

  .finish p {
    font-size: 1.1rem;
  }

  .finish-items {
    font-size: 1.1rem;
  }

  .finish .error-msg p {
    font-size: 1.1rem;
  }
}
