.finish {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.finish h1 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--marine-blue);
}

.finish > p {
  font-size: 1rem;
  color: var(--cool-gray);
}

.finish-items {
  margin-top: 0.75rem;
  background-color: var(--magnolia);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.75rem;
  font-size: 0.9rem;
  width: 100%;
}

.finish-items span {
  color: var(--cool-gray);
  font-weight: 500;
}

.row {
  display: flex;
  justify-content: space-between;
}

a,
a:active {
  color: var(--cool-gray);
  text-decoration: underline 0.1rem solid var(--cool-gray);
}

.select-plan {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  color: var(--marine-blue);
  text-align: center;
  padding: 1rem;
}

.finish .select-plan p {
  font-size: 1.3rem;
}
.select-plan a {
  text-decoration: underline 1px solid var(--marine-blue);
  cursor: pointer;
  color: var(--marine-blue);
}

@media (min-width: 769px) {
  .finish h1 {
    font-size: 1.4rem;
  }

  .finish p {
    font-size: 1.1rem;
  }

  .finish-items {
    font-size: 1.1rem;
  }

  .select-plan {
    margin-top: 9rem;
  }
}
