.personal-info {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--cool-gray);
}

.personal-info p {
  font-size: 1rem;
}

.personal-info input:focus {
  outline: 0;
}

.personal-info .active,
.personal-info .not-active {
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: 0.95rem;
  border-radius: 0.3rem;
}

.personal-info .not-active {
  border: 1px solid var(--light-gray);
  border-radius: 0.3rem;
  cursor: pointer;
}

.personal-info .active {
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}

.personal-info input:hover {
  border: 1px solid var(--purplish-blue);
}

.personal-info input::placeholder {
  color: var(--cool-gray);
  font-weight: 400;
}
.personal-info input {
  color: var(--marine-blue);
}

.personal-info label {
  color: var(--marine-blue);
  font-size: 0.9rem;
  font-weight: 500;
}

.personal-info h1 {
  font-size: 1.3rem;
  color: var(--marine-blue);
}

.error {
  border: 1px solid red;
}

@media (min-width: 769px) {
  .personal-info h1 {
    font-size: 1.4rem;
  }

  .personal-info p {
    font-size: 1.1rem;
  }

  .personal-info input::placeholder {
    font-size: 1.1rem;
  }

  .personal-info .not-active {
    height: 3.5rem;
    font-size: 1rem;
  }

  .personal-info .active {
    height: 3.5rem;
    font-size: 1rem;
  }
}
