.btn-active,
.btn-not-active {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
}

.btn-not-active {
  border: 1px solid var(--light-gray);
  background-color: transparent;
}

.btn-active {
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}

.descriptions {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--cool-gray);
}

.btn-not-active:hover {
  border: 1px solid var(--purplish-blue);
}

.btn-not-active h3 {
  color: var(--marine-blue);
}

.btn-active h3 {
  color: var(--marine-blue);
}

@media (min-width: 769px) {
  .btn-not-active,
  .btn-active {
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 10rem;
  }
}
