.btn-not-active {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--light-gray);
  background-color: transparent;
  text-align: left;
}
.descriptions {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: var(--cool-gray);
}

.btn-not-active:hover {
  filter: brightness(0.9);
}

.btn-not-active h3 {
  color: var(--marine-blue);
}

.btn-active {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: left;
  border: 1px solid var(--purplish-blue);
  background-color: var(--magnolia);
}

.btn-active h3 {
  color: var(--marine-blue);
}

