.plan-selection {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  color: var(--cool-gray);
}

.plan-selection p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.plan-selection h1 {
  font-size: 1.3rem;
  color: var(--marine-blue);
}

.plan-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.not-active-btn {
  border: 1px solid var(--light-gray);
  background-color: transparent;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

.active-btn {
  border: 2px solid var(--marine-blue);
  background-color: var(--light-blue);
}

@media (min-width: 769px) {
  .plan-content div {
    font-size: 1rem;
  }
  .plan-content {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }

  .plan-selection p {
    font-size: 1.1rem;
  }

  .plan-content img {
    width: 3rem;
  }

  .plan-selection h1 {
    font-size: 1.4rem;
  }
}
