.switch-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 0.5rem;
  padding: 0.5rem 0;
  background-color: var(--magnolia);
  width: 100%;
  border-radius: 0.5rem;
  font-weight: 500;
}

.switch {
  position: relative;
  display: flex;
  align-items: center;
  width: 3.5rem;
  height: 1.4rem;
  padding: 0.5rem;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marine-blue);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.2rem;
  width: 1.2rem;
  left: 0.1rem;
  bottom: 0.1rem;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(2.1rem);
}

.active-txt-color {
  color: var(--marine-blue);
}


