.buttons {
  width: 100vw;
  height: 9rem;
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  padding: 2rem;
}

.buttons button {
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.buttons .active-page {
  background-color: var(--pastel-blue);
  color: black;
  border: none;
}

@media (min-width: 769px) {
.buttons {
  gap: 3rem;
}

  .buttons button {
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.3rem;
  }
}
